<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bmi Calculator</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <!-- * IMPERIAL BMI FORMULA *
       BMI = WEIGHT(LBS)/HEIGHT(IN)"SQUARED" x 703 = RESULT-->
    
    <!-- * METRIC BMI FORMULA *
        BMI = WEIGHT(KG)/HEIGHT(M)"SQUARED" = RESULT -->
        <div class="container">
            <h1>BMI Calculator</h1>
            <div class="container" id="metric">
                <form action="input">
                    <label for="units">Units</label>
                    <select name="units" id="units">
                        <option value="Metric">Metric</option>
                        <option value="Imperial">Imperial</option>
                    </select><br>
                    <br><label for="weight">Weight</label>
                    <input type="number" id="weight" name="weight" value="">
                    <select name="weightType" id="weightType">
                        <option value="kg">Kg</option>
                        <option value="Lbs">Lbs</option>
                    </select>
                    <br>
                    <br><label for="height">Height</label>
                    <input type="number" id="height" name="height" value="">
                    <select name="heightType" id="heightType">
                        <option value="cm">Cm</option>
                        <option value="Inches">Inches</option>
                    </select> <br>
                    <br><button class = "btn btn-primary" id="calculate">Calculate</button>
                </form>
            </div><br>
        <div class="container" id="results">
                <p>Your BMI is</p>
                <p id="yourBMI"></p>
            </div><br>
        <div class="container"><br>
            <table class="table" id="bmiChart">
                <tr>
                    <th>BMI</th>
                    <th>Category</th>
                </tr>
                <tr>
                    <th>Less than 15</th>
                    <th class="Unhealthycolor">Very Severly Underweight</th>
                </tr>
                <tr>
                    <th>Between 15 & 16</th>
                    <th class="Unhealthycolor">Severly Underweight</th>
                </tr>
                <tr>
                    <th>Between 16 and 18.5</th>
                    <th class="Unhealthycolor">Underweight</th>
                </tr>
                <tr>
                    <th>Between 18.5 and 25</th>
                    <th id="healthyColor">Normal(Healthy Weight)</th>
                </tr>
                <tr>
                    <th>Between 25 and 30</th>
                    <th class="Unhealthycolor">Overweight</th>
                </tr>
                <tr>
                    <th>Between 30 and 35</th>
                    <th class="healthHazard">Moderatelty Obese</th>
                </tr>
                <tr>
                    <th>Between 35 and 40</th>
                    <th class="healthHazard">Severly Obese</th>
                </tr>
                <tr>
                    <th>Over 40</th>
                    <th class="healthHazard">Very Severly Obese</th>
                </tr>
            </table>
        </div>
        </div>
   
    <footer>
        <a href="/"><button><svg width="100px" height="100px" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg></button></a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   
</body>
</html>