<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h1>Create Account</h1>
                        <form method="POST" action="/weightlog">
                            <br><label for="userName">Username</label>
                            <input type="text" name="userName" id="userName" value=""><br>
                    
                            <br><label for="weight">Weight</label>
                            <input type="number" name="weight" id="weight" value="">
                            <select name="weight" id="weightType">
                                <option value="Lbs">Lbs</option>
                                <option value="Kg">Kg</option>
                            </select><br>
                            
                            <br><label for="height">Height</label>
                            <input type="number" name="height" id="height" value="">
                            <select name="height" id="heightType">
                                <option value="In">Inches</option>
                                <option value="Cm">Centimeters</option>
                            </select><br>
                    
                            <br><label for="age">Age</label>
                            <input type="number" name="age" id="age" value=""><br>
                    
                            <br><a href="/weightlog"><button class = "btn btn-primary" id="submit">Create</button></a>
                        </form><br>
                        <a href = "/alreadyUser">Already a user? Log in here!</a>
                    </div>
                </div>
            </div>
        </div>
        
       
    </div>
    
    <br><footer>
        <a href="/"><button><svg width="100px" height="100px" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg></button></a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   
</body>
</html>