<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap"
        rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="css/dark.css" type="text/css" />
    <link rel="stylesheet" href="css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/animate.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/custom.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/custom.css" type="text/css" />
</head>

<body>
    <div class="container">
        <section id="content">
            <div class="content-wrap">
                <div class="form-widget">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-12 form-group">
                                <h1>Create Account</h1>
                                <form id="newAccount" onSubmit="submitPost()">
                                    <div class="row">
                                        <div class="col-sm-2 col-form-label">
                                            <label for="username">Username:</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" name="username" id="username"
                                                class="form-control required" value=""
                                                placeholder="Enter your username">
                                        </div>
                                    </div>
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-sm-2 col-form-label">
                                                <label for="logged_at">Today's Date:</label>
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="date" name="logged_at" id="logged_at"
                                                    class="form-control required" value=""
                                                    placeholder="Enter your username">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-sm-2 col-form-label">
                                                <label for="weight">Weight:</label>
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="number" min="10" max="300" name="weight" id="weight"
                                                    class="form-control required" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-sm-2 col-form-label">
                                                <label for="age">Height:</label>
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="number" name="height" id="height"
                                                    class="form-control required" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-sm-2 col-form-label">
                                                <label for="age">Age:</label>
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="number" name="age" id="age" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/createAccount"><button class="btn btn-primary" id="submit">Create
                                            Account!</button></a>
                                </form>
                            </div>
                            <a href="/weightlog.html">Created your account? Start Logging Now!</a>
                            <br><br>
                            <a href="/weightlog.html">Already a GitFit member? Access the logs now. </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <br>
    <footer>
        <a href="/"><button><svg width="100px" height="100px" viewBox="0 0 16 16" class="bi bi-house"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                    <path fill-rule="evenodd"
                        d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                </svg></button></a>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script>
        $("#submit").on("click", function () {
            event.preventDefault();
            submitPost();
        });
        function submitPost(newPost) {
            var newData = $("#weight");
            var newage = $("#age");
            var logged = $("#logged_at");
            var newuser = $("#username");
            var newheight = $("#height");
            //object to submit to database
            var newPost = {
                username: newuser.val().trim(),
                logged_at: logged.val().trim(),
                weight: newData.val().trim(),
                height: newheight.val().trim(),
                age: newage.val().trim(),
            };
            $.post("/api/weight", newPost, function () {
                console.log(newPost);
            });
        };
    </script>
</body>
</html>